@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base bg-black text-snow;
}

a:hover,
a:active {
  @apply underline text-white/90;
}

p {
  @apply mb-4 last-of-type:mb-0;
}

li {
  @apply list-none mb-px last-of-type:mb-0;
}

h2 {
  @apply mb-2 text-base tracking-wide uppercase font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
