/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  @apply font-body bg-black text-white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Regular.woff2') format('woff2'), url('/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-RegularItalic.woff2') format('woff2'),
    url('/fonts/CeraPro-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Light.woff2') format('woff2'), url('/fonts/CeraPro-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-LightItalic.woff2') format('woff2'), url('/fonts/CeraPro-LightItalic.woff') format('woff');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Bold.woff2') format('woff2'), url('/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-BoldItalic.woff2') format('woff2'), url('/fonts/CeraPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* @font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-Black.woff2') format('woff2'), url('/fonts/CeraPro-Black.woff') format('woff');
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/CeraPro-BlackItalic.woff2') format('woff2'), url('/fonts/CeraPro-BlackItalic.woff') format('woff');
  font-weight: black;
  font-style: italic;
} */

@font-face {
  font-family: 'Saol Display';
  src: url('/fonts/SaolDisplay-Regular.woff2') format('woff2'), url('/fonts/SaolDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Saol Display';
  src: url('/fonts/SaolDisplay-Light.woff2') format('woff2'), url('/fonts/SaolDisplay-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
    url('/fonts/SaolDisplay-LightItalic.woff') format('woff');
  font-weight: light;
  font-style: italic;
} */

/* @font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/fonts/ProximaNova-BoldIt.woff2') format('woff2'), url('/fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
    url('/fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'), url('/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-Disp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-Disp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-BdDisp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-BdDisp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-BdItDisp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-BdItDisp.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-ItDisp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-ItDisp.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-LtDisp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-LtDisp.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Premiere Pro';
  src: url('/fonts/GaramondPremrPro-LtItDisp.woff2') format('woff2'),
    url('/fonts/GaramondPremrPro-LtItDisp.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Germania One';
  src: url('/fonts/GermaniaOne-Regular.woff2') format('woff2'), url('/fonts/GermaniaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
