@import './base.css';

#app {
  @apply min-h-screen flex flex-col justify-between;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply uppercase text-2xl font-bold tracking-widest mb-5;
}

p {
  @apply uppercase text-base font-normal mb-10;
}

ul {
  @apply mb-10;
}

li {
  @apply uppercase text-base font-normal mb-4;
}

.v-collapse {
  transition: height var(--vc-auto-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

@media (hover: hover) {
  a:hover {
    @apply text-green;
  }
}
