@import './base.css';

#app {
  @apply min-h-screen;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

p,
li {
  @apply uppercase text-[12px] leading-[100%] font-normal mb-4;
}

li {
  @apply mb-0;
}

@media (hover: hover) {
  a:hover {
    @apply text-green;
  }
}

@media (min-width: 1024px) {
  #app {
  }
}
